@{
    ViewData["Title"] = "Home Page";

    //Product product = ViewData["product"] as Product;

    //var product2 = ViewBag.product2 as Product;
}
@*@model (List<Product> product1,List<Product> product2)
*@
@model List<Product>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.Id @item.Name @item.Price</li>
    }
</ul>


<ul>
    @foreach (var item in ViewBag.product2 as List<Product>)
    {
        <li>@item.Id @item.Name @item.Price</li>
    }
</ul>






















@*
    <p>name :@ViewData["name"]</p>
    <p>version :@ViewData["version"]</p>

    <p>@product.Id @product.Name @product.Price</p>
    <p>@product2.Id @product2.Name @product2.Price</p>*@


